.plusMinusBtns {
    text-align: center;
    margin: auto;
    button {
      margin-right: 0.6em;
    }

    label{
      display: block;
      font-style: italic;
      font-size: small;
      text-align: center;
      margin: 0.5em;
      color: gray;
    }
  }