manageLessons {
  text-align: right;
  padding: 1%;
}

.lesson {
  border: thin dashed #d7d2d2;
  border-radius: 4px;
  margin-bottom: 2%;
  padding: 1em;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
  }
}

.lessonMetadata {
  width: 60%;
  margin: auto;
  margin-bottom: 2%;
  input {
    margin-bottom: 0.2em;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
  }
}

.lessonContent {
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
  }

  .videoPreview {
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    .ytVideoInput {
      height: 5%;
      margin-bottom: 1%;
    }
    img {
      height: auto;
      width: 100%;
    }
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
    }
  }
  .articleInput {
    max-height: 16em;
    overflow-y: scroll;
    width: 70%;
    margin: auto;
    margin-bottom: 2em;
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
    }
  }

  .manageReferences {
    width: 70%;
    max-height: 16em;
    overflow-y: scroll;
    border: thin dashed #d7d2d2;
    border-radius: 4px;
    margin: auto;
    padding: 1em;
    .referencesInputs {
      margin: auto;
      margin-bottom: 1em;
      input {
        display: inline;
        margin-left: 1em;
        width: 40%;
      }
    }
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
    }
  }
}