.manageLessons {
  display: flex;
  text-align: right;
  padding: 1%;
  align-items: center;
  flex-direction: column;
}

.lesson {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 4px;
  border-color: #d7d2d2;
  width: 60em;
  height: 26em;
  margin-bottom: 2%;
  border-style: dashed;
  border-width: thin;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 22em;
    height: 64em;
  }
}

.lessonMetadata {
  align-self: center;
  height: 4em;
  width: 26em;
  input {
    margin-bottom: 0.4em;
  }
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    width: 18em;
  }
}

.lessonContent {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  justify-items: center;
  width: 58em;
  height: 18em;
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    flex-direction: column;
    justify-content: space-evenly;
    width: 20em;
    height: 58em;
  }

  .videoPreview {
    overflow-y: hidden;
    .ytVideoInput {
      display: block;
      margin-bottom: 1%;
    }
    img {
      display: block;
      height: 13.4em;
    }
  }
  .articleInput {
    overflow-y: scroll;
    max-height: 16em;
    width: 16em;
    align-self: center;
    textarea {
    }
  }
  .manageReferences {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 20em;
    height: 16em;
    max-height: 16em;
    border-radius: 4px;
    border-color: #d7d2d2;
    border-style: dashed;
    border-width: thin;
    .referencesInputs {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.8em;
      input {
        margin-bottom: 0.2em;
      }
    }
    @media only screen and (max-width: 768px) {
      /* For mobile phones: */
    }
  }
}

.plusMinusBtns {
  display: flex;
  width: 6em;
  height: 2em;
  justify-content: space-evenly;
}
