.ManageCourse {
  text-align: right;
  padding: 0.4em;
  margin: auto;
}

.courseMetadata {
  width: 70%;
  margin: auto;
  .courseTitle {
    margin-bottom: 0.2em;
  }
}
.lessonsLabel , .submitCourse {
    margin: 1em;
}
