.ManageCourse {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.4em;
}

.courseMetadata {
  width: 34em;
  .courseTitle {
    margin-bottom: 0.2em;
  }
}
.lessonsLabel , .submitCourse {
    align-self: start;
    margin: 1em;
}
