.programsListing {
    text-align: right;
    ul {
      margin: auto;
      text-align: center;
    }
    margin: auto;
    .btn-link {
      color: #0f643c;
    }
  }
  
  ul,
  li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
  }
  