.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.footer {
  background-color: #1e8b6e;
  margin: 0px auto;
  padding: 20px 0px 20px 0px;
}

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f;
}

.navbar-dark {
  background-color: #1fb78e;
}
.nav-link {
  color: white;
}
.nav-link:hover {
  color: #252f31;
}

a {
  color: white;
}
a:hover {
  color: #0f0f0f;
}
