.holyGrail {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav content side"
    "footer footer footer";

  grid-template-columns: 200px 1fr 200px;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;

  height: 100vh;
}

header h1 {
  font-size: 1.4em;
  font-weight: bold;
  color: #f2f2f2;
}

header {
  grid-area: header;
  background-color: #23b48c;
  padding: 0.4em;
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  grid-area: nav;
  margin-left: 0.5rem;
  background-color: #f2f2f2;
}

main {
  grid-area: content;
}

aside {
  grid-area: side;
  margin-right: 0.5rem;
  background-color: #f2f2f2;
}

footer {
  grid-area: footer;
  background-color: #d7d2d2;
  height: 10em;
}

footer span {
  float: left;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  float: right;
}
footer ul li {
  display: inline-block;
}
footer ul li i:hover {
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .holyGrail {
    grid-template-areas:
      "header"
      "nav"
      "content"
      "side"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(75px, auto) /* Nav */
      1fr /* Content */
      minmax(75px, auto) /* Sidebar */
      auto; /* Footer */
  }

  header {
    flex-direction: column;
  }
  header h1 {
  font-size: 1em;
  }

  nav,
  aside {
    margin: 0;
  }
}
